.env

# Dependencies
node_modules/

# Build output
build/
lib/
dist/

# Testing
coverage/
results/

# Others
lerna-debug.log
npm-debug.log
packages/samples/testresults/
packages/samples/testtranscripts/
