.cl-graph g > rect {
    fill: white;
    stroke: #333;
    rx: 3px;
    ry: 3px;
}

.cl-graph text {
    font-weight: 300;
    font-size: 15px;
}

.cl-graph .node rect {
    stroke: #333;
    /* fill: #fff; */
}

.cl-graph .edgePath path {
    stroke: #333;
    /* fill: #333; */
    stroke-width: 1.5px;
}

.cl-graph .node text {
    pointer-events: none;
}