.cl-action-creator--expected-entity .ms-TagItem-text--highlight {
    background-color: var(--color-successBackground);
}
.cl-action-creator--disqualifying-entities .ms-TagItem-text--highlight {
    background-color: var(--color-successBackground);
}

.cl-action-creator-fieldset {
    display: grid;
    grid-gap: 1em;
}

.cl-action-creator-form {
    display: grid;
    grid-gap: 0.5em;
}

.cl-action-creator-reprompt {
    margin-left: 50px;
}

.cl-action-creator-reprompt-box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.cl-action-creator-select-action {
    margin-left: 40px;
}

.cl-action-creator-section {
    /* margin-left: 1rem; */
    display: grid;
    grid-gap: 0.5rem;
}

.cl-tag-item-suggestion--add-condition {
    background-color: white;
    width: 100%;
}

.cl-action-creator-input-with-button {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-gap: 0.75rem;
    align-items: end;
}