
.cl-callback-result-selector {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    grid-template-columns: 150px;
    align-items: end;
}

.cl-callback-result-selector__preview-button {
    width: 30px !important;
    min-width: 30px !important;
}