.cl-callback-result-modal__fields {
    display: grid;
    grid-gap: 1rem;
}

.cl-callback-result-modal__name {
}

.cl-callback-result-modal__code {
    padding: 1rem;
    border-radius: 0.5rem;
}

.cl-callback-result-modal__entity-values {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: minmax(200px, max-content) 1fr max-content;
}

.cl-callback-result-modal__entity-name {
    padding: 5px 0;
}

.cl-callback-result-modal__entity-name__error {
    margin-top: 0.5rem;
    padding-top: 0.25rem;
    border-top: 2px solid var(--cl-color-error);
    color: var(--cl-color-error);
}

.cl-callback-result-modal__entity-value {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr min-content;
}

.cl-callback-result-modal__entity-value__error {
    margin-top: 0.5rem;
    padding-top: 0.25rem;
    border-top: 2px solid var(--cl-color-error);
    color: var(--cl-color-error);
}

.cl-callback-result-modal__entity-values__entity-removed {
    padding: 5px 0;
}

.cl-callback-result-modal__entity-values__list {
    display: grid;
    grid-gap: 0.5rem;
}

.cl-callback-result-modal__new-entity-section {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, max-content);
    padding-top: 1rem;
    border-top: 1px solid var(--color-neutralLight);
}

.cl-callback-result-modal__return-value {
}